{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  
  ;; http
  io.pedestal/pedestal.service {:mvn/version "0.7.0"}
  io.pedestal/pedestal.jetty {:mvn/version "0.7.0"}

  ;; config
  integrant/integrant {:mvn/version "0.8.1"}
  aero/aero {:mvn/version "1.1.6"}

  ;; utils
  cheshire/cheshire {:mvn/version "5.12.0"}
  org.slf4j/slf4j-simple {:mvn/version "2.0.13"}

  ;; validation
  metosin/malli {:mvn/version "0.20.1"}

  ;; components
  borba/borba-runtime-component
  {:git/url "https://github.com/AF2B/borba-runtime-component"
   :git/tag "v0.1.3"
   :git/sha "325879e6acc80be1e4c78e4ab56301f5b6565880"}
  
  borba/borba-server-component
  {:git/url "https://github.com/AF2B/borba-server-component"
   :git/tag "v0.1.1"
   :git/sha "9fc56eeb9b312be913b4af0261c9a08ba0067fe1"}
  
  borba/borba-routes-component
  {:git/url "https://github.com/AF2B/borba-routes-component"
   :git/tag "v0.1.0"
   :git/sha "dbc251d223bbedb831d3d17a28d94eca95d741e2"}} 

 :aliases
 {:run
  {:main-opts ["-m" "borba.runtime.main"]}
  
  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
    nubank/state-flow {:mvn/version "5.20.1"}
    org.clojure/test.check {:mvn/version "1.1.1"}}}

  :build
  {:deps
   {io.github.clojure/tools.build {:git/tag "v0.10.5"
                                   :git/sha "2a21b7a"}}
   :ns-default build}}}
